<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<!--
			<httpProtocol>
				<customHeaders>
					<add name="Arr-Disable-Session-Affinity" value="true"/>
				</customHeaders>
			</httpProtocol>
			-->
			<rewrite>
				<outboundRules>
					<rule name="Remove RESPONSE_Server" >
						<match serverVariable="RESPONSE_Server" pattern=".+" />
						<action type="Rewrite" value="A person or thing that provides a service or commodity" />
					</rule>
					<rule name="Remove RESPONSE_x-powered-by" >
						<match serverVariable="RESPONSE_x-powered-by" pattern=".+" />
						<action type="Rewrite" value="Free will" />
					</rule>
				</outboundRules>
			</rewrite>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
			</handlers>
			<aspNetCore
				processPath="dotnet"
				arguments=".\rtc-cdcavell.dll"
				stdoutLogEnabled="true"
				stdoutLogFile="C:\inetpub\logs\cdcavell.name\rtc-cdcavell\stdout"
				hostingModel="inprocess"
			>
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production"/>
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>