@model cdcavell.Models.Home.IndexModel

<h1 class="h2 mb-1">
    Welcome
</h1>
<div class="mb-5 pb-5">
    <p class="font-small text-muted">
        This is the personal website for
        <a class="text-decoration-none" href="https://www.linkedin.com/in/christopher-d-cavell-6192113b/" rel="external nofollow noopener" target="_blank">
        Christopher D. Cavell</a>. An ongoing development of an 
        <a class="text-decoration-none" href="https://docs.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-5.0" rel="external nofollow noopener" target="_blank">ASP.NET Core 5.0</a>
        MVC application utilizing  
        <a class="text-decoration-none" href="https://duendesoftware.com/" rel="external nofollow noopener" target="_blank">Duende&trade;</a> 
        <a class="text-decoration-none" href="https://duendesoftware.com/products/identityserver" rel="external nofollow noopener" target="_blank">IdentityServer</a>, an 
        open-source, standards-compliant, and flexible OpenID Connect and OAuth 2.0 framework for ASP.NET Core.
@*
        This application also includes Microsoft's <a class="text-decoration-none" href="https://www.customsearch.ai/" rel="external nofollow noopener" target="_blank">Bing Search APIs</a> 
        with Eugene Simakin's <a class="text-decoration-none" href="http://josecebe.github.io/twbs-pagination/" rel="external nofollow noopener" target="_blank">jQuery pagination plugin</a> v1.4.2. 
*@
        Authentication can easily be changed to use SAML2P in place of OAuth 2.0, with the 
        <a class="text-decoration-none" href="https://www.identityserver.com/documentation/saml2p/" rel="external nofollow noopener" target="_blank">Rsk.Saml SAML component</a> 
        available from <a class="text-decoration-none" href="https://www.rocksolidknowledge.com/" rel="external nofollow noopener" target="_blank">Rock Solid Knowledge</a>. 
    </p>
    <p class="font-small text-muted">
        Application source can be cloned from 
        <a class="text-decoration-none" href="https://github.com/cdcavell/cdcavell.name" rel="external nofollow noopener" target="_blank">GitHub Repository</a> 
        and is licensed under the 
        <a class="text-decoration-none" href="https://github.com/cdcavell/cdcavell.name/blob/main/LICENSE" rel="external nofollow noopener" target="_blank">MIT License</a>. 
        Duende&trade; IdentityServer software libraries are licenced under the 
        <a class="text-decoration-none" href="https://duendesoftware.com/license/identityserver.pdf">Duende&trade; Software License Agreement</a>.
    </p>
</div>

<div class="paypal-donation mt-5 pt-5">
    <form action="https://www.paypal.com/donate" method="post" target="_blank">
    <p class="w-100 text-center font-x-small font-weight-bold font-italic">
        You can show your support to this project by making a donation via PayPal
    </p>
    <p>
        <input type="hidden" name="hosted_button_id" value="96LQH846TE2E2" />
        <input type="image" class="mx-auto d-block" src="_content/CDCavell.ClassLibrary.Web.Razor/img/PayPal/btn_donateCC_LG.webp" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    </p>
    </form>
</div>




