@{
    switch (ViewBag.Provider)
    {
        case "microsoft":
            <h1 class="h2">Revoke access to personal information stored in your Microsoft account</h1>
            <br />
            <ul>
                <li><i>Access your <a class="text-decoration-none" href="https://www.microsoft.com/en-us/account" rel="external nofollow noopener" target="_blank">Microsoft account</a>.</i><br /><br /></li>
                <li><i>Select <strong>Privacy</strong> in the menu bar.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-001.JPG" alt="Capture-001.JPG" /></i><br /><br /></li>
                <li><i>Select <strong>Apps and services that can access your data.</strong><br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-002.JPG" alt="Capture-002.JPG" /><br /><br /></i></li>
                <li><i>Select <strong>Edit</strong> for cdcanell.name application.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-003.JPG" alt="Capture-003.JPG" /></i><br /><br /></li>
                <li><i>Select <strong>Remove these permissions.</strong><br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-004.JPG" alt="Capture-004.JPG" /></i></li>
            </ul>
            break;
        case "google":
            <h1 class="h2">To revoke access to personal information stored in your Google account:</h1>
            <br />
            <ul>
                <li><i>Access your <a class="text-decoration-none" href="https://accounts.google.com/login" rel="external nofollow noopener" target="_blank">Google account</a>.</i><br /><br /></li>
                <li><i>Select <strong>Security</strong> from left hand menu.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-005.JPG" alt="Capture-005.JPG" /></i><br /><br /></li>
                <li><i>Select <strong>Manage third-party access</strong>.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-006.JPG" alt="Capture-006.JPG" /></i><br /><br /></li>
                <li><i>Select <strong>cdcavell.name</strong> application under <strong>Signing in with Google</strong> section.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-007.JPG" alt="Capture-007.JPG" /><br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-008.JPG" alt="Capture-008.JPG" /></i><br /><br /></li>
                <li><i>Seclect <strong>Remove Access</strong>.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-009.JPG" alt="Capture-009.JPG" /></i><br /><br /></li>
            </ul>
            break;
        case "github":
            <h1 class="h2">Revoke access to personal information stored in your GitHub account</h1>
            <br />
            <ul>
                <li><i>Access your <a class="text-decoration-none" href="https://github.com/settings/applications" rel="external nofollow noopener" target="_blank">GitHub account applications settings</a>.</i><br /><br /></li>
                <li><i>Select the <strong>Authorized OAuth Apps</strong> tab.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-010.JPG" alt="Capture-010.JPG" /></i><br /><br /></li>
                <li><i>Select the <strong>ellipsis</strong> (three dots) next to <strong>CDCavell</strong> application and then select <strong>Revoke</strong>.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-011.JPG" alt="Capture-011.JPG" /></i><br /><br /></li>
            </ul>
            break;
        case "twitter":
            <h1 class="h2">Revoke access to personal information stored in your Twitter account</h1>
            <br />
            <ul>
                <li><i>Access your <a class="text-decoration-none" href="https://twitter.com/" rel="external nofollow noopener" target="_parent">Twitter account</a>.</i><br /><br /></li>
                <li><i>Select <strong>More</strong> from left hand menu.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-012.JPG" alt="Capture-012.JPG" /></i><br /><br /></li>
                <li><i>Select <strong>Settings and privacy</strong> from menu options.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-013.JPG" alt="Capture-013.JPG" /></i><br /><br /></li>
                <li><i>Select <strong>Apps and sessions</strong> under <strong>Data and permissions</strong> section.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-014.JPG" alt="Capture-014.JPG" /></i><br /><br /></li>
                <li><i>Select <strong>> symbol</strong> to the right of CDCavell application.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-015.JPG" alt="Capture-015.JPG" /></i><br /><br /></li>
                <li><i>Select <strong>Revoke access</strong>.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-016.JPG" alt="Capture-016.JPG" /></i><br /><br /></li>
            </ul>
            break;
        case "facebook":
            <h1 class="h2">Revoke access to personal information stored in your Facebook account</h1>
            <br />
            <ul>
                <li><i>Access your <a class="text-decoration-none" href="https://www.facebook.com/" rel="external nofollow noopener" target="_blank">Facebook account</a>.</i><br /><br /></li>
                <li><i>Select the <strong>down arrow button</strong> in upper right corner.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-017.JPG" alt="Capture-017.JPG" /></i><br /><br /></li>
                <li><i>Select <strong>Settings &amp; Privacy</strong>.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-018.JPG" alt="Capture-018.JPG" /></i><br /><br /></li>
                <li><i>Select <strong>Settings</strong>.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-019.JPG" alt="Capture-019.JPG" /></i><br /><br /></li>
                <li><i>Select <strong>Apps and Websites</strong> from left hand menu.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-020.JPG" alt="Capture-020.JPG" /></i><br /><br /></li>
                <li><i>Check to the right of <strong>CDCavell</strong> application, then select <strong>Remove</strong>.<br /><img src="_content/CDCavell.ClassLibrary.Web.Razor/img/PrivacyPolicy/Capture-021.JPG" alt="Capture-021.JPG" /></i><br /><br /></li>
            </ul>
            break;
    }
}
