@{ 
    var email = ViewData["Email"] as string;
}
<h1 class="h2 mb-1">
    Two-Factor Authentication
</h1>
<p class="font-small text-muted">
    An email has been submitted to @email. To retrive two-factor authentication configuration, please 
    click on link supplied in this email or copy and paste in browser. The link will be valid 
    for approximately fifteen minutes. 
</p>